<a href="http://localhost:8020/article/doWrite?title=제목임&body=내용임">
    전송
</a>
<hr>
<form action="/article/doWrite" onsubmit="submitWriteForm(this); return false;"
      style="display: flex; flex-direction: column; gap:20px; max-width:500px;">
    <!-- 제목을 입력할 수 있는 텍스트 필드 -->
    <input type="text" name="title" placeholder="제목">
    <!-- 내용을 입력할 수 있는 텍스트 필드 -->
    <input type="text" name="body" placeholder="내용">

    <button type="submit">
        글쓰기
    </button>
</form>

<script>
    function submitWriteForm(form) {    // 글쓰기 폼 제출 함수
        // 제목, 내용 값 입력받기
        const inputTitle = form.title;
        const inputBody = form.body;

        // 앞 공백, 뒷 공백 제거하기
        inputTitle.value = inputTitle.value.trim();
        inputBody.value = inputBody.value.trim();

        // 앞 공백, 뒷 공백 제거한 제목과 내용 값을 변수에 저장
        const title = inputTitle.value;
        const body = inputBody.value;

        // 제목or내용이 비어있는 경우 알림 창을 띄우고 해당 입력 필드로 포커스 이동
        if (title.length == 0) {
            alert('제목을 입력해주세요.');
            inputTitle.focus();

            return;
        }

        if (body.length == 0 ) {
            alert('내용을 입력해주세요.');
            inputTitle.focus();

            return;
        }

        form.submit();   // form은 URL 전송기
    }
</script>
