<h1>글 작성</h1>

<ul style="display: flex; gap:20px">
    <li><a href="/article/write">글 쓰기</a></li>
    <li><a href="/article/list">글 목록</a></li>
</ul>

<!-- 폼이 제출될 때 submitWriteForm 함수를 호출하여 입력값 검증, 조건 충족 시 데이터를 POST 방식으로 전송 -->
<form method="POST" onsubmit="submitWriteForm(this); return false;"
      style="display: flex; flex-direction: column; gap:20px; max-width:500px;">
    <!-- 제목을 입력할 수 있는 텍스트 필드 -->
    <input type="text" name="title" placeholder="제목">
    <!-- 내용을 입력할 수 있는 텍스트 필드 -->
    <input type="text" name="body" placeholder="내용">

    <!-- 폼 제출 버튼 -->
    <button type="submit">
        글쓰기
    </button>
</form>

<script>
    function submitWriteForm(form) {    // 글쓰기 폼 제출 함수
        // 폼의 제목,내용 입력 필드
        const inputTitle = form.title;
        const inputBody = form.body;

        // 앞 공백, 뒷 공백 제거하기
        inputTitle.value = inputTitle.value.trim();
        inputBody.value = inputBody.value.trim();

        // 앞 공백, 뒷 공백 제거한 제목과 내용 값을 저장
        const title = inputTitle.value;
        const body = inputBody.value;

        // 제목or내용이 비어있는 경우 알림 창을 띄우고 해당 입력 필드로 포커스 이동
        if (title.length == 0) {
            alert('제목을 입력해주세요.');
            inputTitle.focus();

            return;
        }

        if (body.length == 0 ) {
            alert('내용을 입력해주세요.');
            inputTitle.focus();

            return;
        }

        form.submit();   // 폼 제출
    }
</script>
